.nav {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 500px;
    overflow: hidden;
    
   /*  border-style: solid;
    border-width: 1px; */
  }
  