<mat-card class="nav">
<div>
  <h4>GAB Balance : {{gabBal}}</h4>
  <h4>Waitlisted Leave Requests</h4>
  <!-- <mat-form-field>
  <mat-label>select supervisor</mat-label>
  <mat-select [(ngModel)]="selectedValue" name="employee"> 
    <mat-option *ngFor="let employee of employees" [value]="employee.value" > 
      {{employee.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<div *ngFor="let employee of employees">  
<p *ngIf="employee.value === selectedValue">
  {{employee.associate}}
</p>
</div> 
<div *ngFor="let employee of employees">
<mat-selection-list *ngIf="employee.value === selectedValue">
      <mat-selection-list [(ngModel)]="selectedOption" name="a" #assoc> 
        <mat-list-option *ngFor="let a of employee.associate" [value]="a">
          {{a}}
        </mat-list-option>
      </mat-selection-list>   
      <p>
          Options selected: {{selectedOption}}
          
        </p>       
  </mat-selection-list>
</div>-->

</div>
</mat-card>
  